body{
  height: 1500px;
  display: flex;
  background-color:darkgray;
  text-align: center;
}
#menu{
  width: 270px;
  height: 800px;
  background-color: bisque;
  position: fixed; 
   left: -270px; 
   margin: 0;
   padding: 0;
}

#menu1{
  display: initial;
}
#menu .logo {
  display: flex;
}
#menu .logo img{
  width: 30px;
  height: 30px;
  margin: 15px;
}
#menu .logo1 li i {
  padding: 10px;
  height: 10px;
  width: 10px;
  line-height: 10px; 
  text-align: center;
  transition: 0.3 ease;
  color: blue;
} 

#menu .logo1 li {
  list-style: none;
  padding: 10px;
  text-align: left;
  
}
#menu .logo1 li:hover {
  background-color: green;
  cursor: pointer;
  
}
#menu .logo1 li:nth-child(1){
    border-left: 4px solid black;
}
#menu .logo1 li:hover i,
#menu .logo1 li:hover a {
    color: skyblue;
  
}
#menu .logo1 li a {
  text-decoration: none;
  height: 10px;
  width: 10px;
  transition: 0.3 ease;
  color: blue;
}
/* @media (min-width: 769px){
    #menu{
      width: 270px;
      position:fixed;
      left:-270px;
    }
 
    menu1{
      display: initial;
    }
   
} */
/* #new_web {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */
#new_web .back_ground{
  text-align: center;
}
/* #new_web .countdown{
  text-align: center;
}

#timer {
  display: inline-block;
  margin-top: 20px; /* Adjust as needed for spacing 
} */
